<ion-view title="Episodes">
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <ion-list>
          <ion-item ng-repeat="episode in episodes" 
                    href="#/app/episode/{{episode.slug}}">{{episode.title}}</ion-item>
      </ion-list>
      <ion-infinite-scroll on-infinite="nextPage()" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>
  </ion-content>
</ion-view>
